<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Import Transactions from Email</title>
    <script src="jsdeps/grist-plugin-api.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="jsdeps/quasar.prod-2.10.2.css" rel="stylesheet" type="text/css">

	<script>
      		var tableId = null;

	      	grist.ready({
			requiredAccess: 'full'
	      	});
	      	grist.on('message', (e) => {
			if (e.tableId) { tableId = e.tableId; }
	      	});
	</script>
	<script src="lib.js"></script>
  </head>
  <body>
	  <div id="q-app">
		  <q-list bordered>
			  <div v-for="email in emails">
				  <q-expansion-item group="somegroup" header-class="text-primary">
					  <template v-slot:header>
						  <q-item-section avatar>
							  <q-avatar :icon="((email.txn.account && email.txn.amount && email.txn.description && email.txn.category) || email.skip_adding_transaction) ? 'done' : 'error'" :color="email.txn.account ? ((((email.txn.amount && email.txn.description && email.txn.category) || email.skip_adding_transaction)) ? (email.skip_adding_transaction ? 'purple' : 'green') : 'yellow') : 'red'" text-color="white"></q-avatar>
						  </q-item-section>
						  <q-item-section>
							  <div>{{email.txn.date}} - {{email.subject}} - ${{email.txn.amount}} - {{email.txn.description}}{{ email.txn.category ? " - Category: " +accountIdToName[email.txn.category] : "" }}</div>
							  <div>
								<q-chip v-if="email.txn.account" icon="done" text-color="white" color="primary">Account</q-chip>
								<q-chip v-else icon="error" text-color="white" color="red">Account</q-chip>
								<q-chip v-if="email.txn.amount" icon="done" text-color="white" color="primary">Amount</q-chip>
								<q-chip v-else icon="error" text-color="white" color="red">Amount</q-chip>
								<q-chip v-if="email.txn.description" icon="done" text-color="white" color="primary">Description</q-chip>
								<q-chip v-else icon="error" text-color="white" color="red">Description</q-chip>
								<q-chip v-if="email.txn.category" icon="done" text-color="white" color="primary">Category</q-chip>
								<q-chip v-else icon="error" text-color="white" color="red">Category</q-chip>
								<q-chip v-if="email.likelyDuplicate" text-color="white" color="purple">Likely Duplicate</q-chip>
								<q-chip v-else-if="email.skip_adding_transaction" text-color="white" color="purple">Skip Adding</q-chip>
							  </div>
						  </q-item-section>

					  </template>
					  <q-card>
						  <q-card-section>
							  <transaction-editor :transaction_data="email.txn" :accounts="accounts" :categories="categories"></transaction-editor>
							  <q-toggle v-model="email.mark_email_resolved" label="Mark Email Resolved"></q-toggle>
							  <q-toggle v-model="email.skip_adding_transaction" label="Skip Adding Transaction"></q-toggle>
							  <q-list padding bordered class="rounded-borders">
							  <q-expansion-item expand-separator label="Pattern Match Info" header-class="text-primary">
								  <q-card><q-card-section>
									  <q-input outlined label="Account Match Pattern" v-model="email.rules.account_match_pattern"></q-input>
									  <q-input outlined label="Amount Match Pattern" v-model="email.rules.amount_match_pattern"></q-input>
									  <q-input outlined label="Description Match Pattern" v-model="email.rules.description_match_pattern"></q-input>
									  <div>Email text:</div>
									  <div></div>
									  <div>{{email.text}}</div>
								  </q-card-section></q-card>
							  </q-expansion-item>
							  </q-list>
						  </q-card-section>
					  </q-card>
				  </q-expansion-item>
				  <q-separator></q-separator>
	  		  </div>
		  </q-list>
		  <div style="height: 20px; text-align: center; text-decoration: bold;"><span style="color: red">{{errorMessage}}</span><span style="color: green">{{successMessage}}</span></div>
		  <q-btn label="Import" @click="importAction()" :disable="!emails || emails.length == 0"></q-btn>
	  </div>
	  <!--iframe sandbox="allow-same-origin" width="100%" height="600" id="emailpreview" src="blank.html"></iframe-->
	  <script src="jsdeps/vue.global.prod-3.2.45.js"></script>
	  <script src="jsdeps/quasar.umd.prod-2.10.2.js"></script>
	  <script src="jsdeps/postal-mime.js"></script>

	  <script>
const { useQuasar } = Quasar;
const { ref, toRef } = Vue;
const PostalMime = postalMime.default;

const app = Vue.createApp({
	setup () {
		const $q = useQuasar()
		const processedEmails = [];
		let postings = null;
		const emails = ref([])
	        const accounts = ref([])
	        const categories = ref([])
		const errorMessage = ref("");
		const successMessage = ref("");
		let accountIdToName = {};

		async function importAction () {
			const updates = [];
			successMessage.value = "Processing...";
			errorMessage.value = "";
			for (let i in emails.value)
			{
				if (!emails.value[i].skip_adding_transaction)
				{
					const thisTxn = emails.value[i].txn;
					const thisTxnDate = (thisTxn.date || '').split('-')
					if (thisTxn.date && thisTxnDate.length == 3 && thisTxn.description && thisTxn.account && thisTxn.amount && thisTxn.category)
					{
						const thisAmount = parseFloat(thisTxn.amount);
						updates.push({account: thisTxn.account, amount: thisAmount, date: thisTxn.date, description: thisTxn.description, category: thisTxn.category, comment: thisTxn.comment});
					}
					else
					{
						successMessage.value = "";
						errorMessage.value = "Some transaction(s) are missing required data. Review any transactions highlighted red or yellow.";
						return;
					}
				}
				if (emails.value[i].mark_email_resolved)
				{
					updates.push({markResolvedId: emails.value[i].id});
				}
			}
			for (let r in updates)
			{
				if (updates[r].markResolvedId)
				{
					await grist.docApi.applyUserActions([ ["UpdateRecord", "Incoming_Transaction_Emails", updates[r].markResolvedId, {processed: true}]])
				}
				else
				{
					const val = await grist.docApi.applyUserActions([ ["AddRecord", "Transactions", -1, {"date": updates[r].date, "description": updates[r].description}]])
					const txnId = val.retValues[0];

					await grist.docApi.applyUserActions([ ["AddRecord", "Postings", -1, {"account": updates[r].account, "amount": updates[r].amount, transaction: txnId}]])
					await grist.docApi.applyUserActions([ ["AddRecord", "Postings", -1, {"account": updates[r].category, "amount": -updates[r].amount, posting_comment: updates[r].comment, posting_status: "EI", transaction: txnId}]])
				}
			}
			successMessage.value = "All transactions were successfully imported.";
			errorMessage.value = "";
			emails.value = [];
		};

		async function matchTransactions () {
			const lookups = genExistingTransactionLookup(postings);
			for (let i in emails.value)
			{
				const thisTxn = emails.value[i].txn;
				const thisTxnDate = (thisTxn.date || '').split('-')
				if (thisTxn.date && thisTxnDate.length == 3 && thisTxn.description && thisTxn.account && thisTxn.amount)
				{
					const dateObj = new Date(parseInt(thisTxnDate[0]), parseInt(thisTxnDate[1])-1, parseInt(thisTxnDate[2]));
					const timeperiods = Math.floor(dateObj.getTime() / 1000 / datebuf);
					const thisAmount = parseFloat(thisTxn.amount);
					const refKey = genTransactionLookupKey(thisTxn.account, thisAmount, timeperiods);
					const refKeyMinus = genTransactionLookupKey(thisTxn.account, thisAmount, timeperiods-1);
					const refKeyPlus = genTransactionLookupKey(thisTxn.account, thisAmount, timeperiods+1);
					if (lookups.existing[refKey])
					{
						emails.value[i].likelyDuplicate = true;
						lookups.existing[refKey] = lookups.existing[refKey] - 1;
						if (!emails.value[i].txnModified)
						{
							emails.value[i].skip_adding_transaction = true;
						}
					}
					else if (lookups.existing[refKeyMinus])
					{
						emails.value[i].likelyDuplicate = true;
						console.log("Did minus fuzzy date match");
						lookups.existing[refKeyMinus] = lookups.existing[refKeyMinus] - 1;
						if (!emails.value[i].txnModified)
						{
							emails.value[i].skip_adding_transaction = true;
						}
					}
					else if (lookups.existing[refKeyPlus])
					{
						emails.value[i].likelyDuplicate = true;
						console.log("Did plus fuzzy date match");
						lookups.existing[refKeyPlus] = lookups.existing[refKeyPlus] - 1;
						if (!emails.value[i].txnModified)
						{
							emails.value[i].skip_adding_transaction = true;
						}
					}
					else
					{
						emails.value[i].likelyDuplicate = false;
						if (!emails.value[i].txnModified)
						{
							emails.value[i].skip_adding_transaction = false;
						}
					}
				}
			}
		};

		async function updateEmails () {
			const emailList = [];
			const emailPatterns = await grist.docApi.fetchTable("Email_Pattern_Match");
			const autoClassify = await grist.docApi.fetchTable("Auto_Classify");
			const emailRegexes = [];
			for (let p in emailPatterns.id)
			{
				const emailRegex = {};
				emailRegex.account = emailPatterns.account[p];
				emailRegex.account_match_regex = new RegExp(emailPatterns.account_match_pattern[p]);
				if (emailPatterns.amount_match_pattern[p])
				{
					emailRegex.amount_match_regex = new RegExp(emailPatterns.amount_match_pattern[p]);
				}
				if (emailPatterns.description_match_pattern[p])
				{
					emailRegex.description_match_regex = new RegExp(emailPatterns.description_match_pattern[p]);
				}
				emailRegexes.push(emailRegex);
			}
			for (let i in processedEmails)
			{
				let thisEmail = processedEmails[i];
				if (emails.value.length > 0)
				{
					thisEmail = emails.value[i];
				}
				else
				{
					thisEmail.txn = {};
					thisEmail.rules = {};
					thisEmail.txnModified = false;
					thisEmail.mark_email_resolved = true;
					thisEmail.skip_adding_transaction = false;
				}
				if (!thisEmail.txnModified)
				{
					thisEmail.txn = {};
					thisEmail.rules = {};


					const dateObj = new Date(thisEmail.date)
					thisEmail.txn.date = dateObj.getFullYear() + '-' + ('0' + (dateObj.getMonth()+1)).slice(-2) + '-' + ('0' + dateObj.getDate()).slice(-2);
					for (let p in emailRegexes)
					{
						
						if (processedEmails[i].text.match(emailRegexes[p].account_match_regex))
						{
							thisEmail.rules.id = p;
							thisEmail.rules.account_match_pattern = emailPatterns.account_match_pattern[p];
							thisEmail.rules.amount_match_pattern = emailPatterns.amount_match_pattern[p];
							thisEmail.rules.description_match_pattern = emailPatterns.description_match_pattern[p];

							thisEmail.txn.account = emailRegexes[p].account;

							thisEmail.txn.amount = "";
							if (emailRegexes[p].amount_match_regex)
							{
								const amount_match = processedEmails[i].text.match(emailRegexes[p].amount_match_regex);
								if (amount_match)
								{
									thisEmail.txn.amount = amount_match[1].replace(/[^0-9\.\-]*/g, '');
									if (emailPatterns.invert_amount[p])
									{
										if (thisEmail.txn.amount.indexOf('-') == 0)
										{
											thisEmail.txn.amount = thisEmail.txn.amount.replace('-', '');
										}
										else
										{
											thisEmail.txn.amount = '-' + thisEmail.txn.amount;
										}
									}
								}
							}
							thisEmail.txn.description = "";
							if (emailRegexes[p].description_match_regex)
							{
								const description_match = processedEmails[i].text.match(emailRegexes[p].description_match_regex);
								if (description_match)
								{
									thisEmail.txn.description = description_match[1];
								}
							}
							doAutoClassifyTxn(thisEmail.txn, autoClassify);

							break;
						}
					}
				}
				emailList.push(thisEmail);
			}
			emails.value = emailList;
		};

		async function loadAction () {
			const accountData = await grist.docApi.fetchTable("Accounts");
			postings = await grist.docApi.fetchTable("Postings");

			const friendlyAccounts = [];
			const otherAccounts = [];
			const friendlyCategories = [];
			const otherCategories = [];
			for (let i in accountData.id)
			{
				accountIdToName[accountData.id[i].toString()] = accountData.name[i];
				if ((accountData.name[i].startsWith("Assets:") || accountData.name[i].startsWith("Liabilities:")) && accountData.friendly_name[i])
				{
					friendlyAccounts.push({value: accountData.id[i], label: accountData.friendly_name[i]});
				}
				else
				{
					otherAccounts.push({value: accountData.id[i], label: accountData.name[i]});
				}
				if ((accountData.name[i].startsWith("Expenses:") || accountData.name[i].startsWith("Income:")) && accountData.friendly_name[i])
				{
					friendlyCategories.push({value: accountData.id[i], label: accountData.friendly_name[i]});
				}
				else
				{
					otherCategories.push({value: accountData.id[i], label: accountData.name[i]});
				}
			}
			accounts.value = friendlyAccounts.concat(otherAccounts);
			categories.value = friendlyCategories.concat(otherCategories);

			const emailtable = await grist.docApi.fetchTable("Incoming_Transaction_Emails");
			//const iframe = document.getElementById("emailpreview");
			//const iframeDoc = iframe.contentWindow || iframe.contentDocument.document || iframe.contentDocument;

			const domParser = new DOMParser();
			for (let i in emailtable.id)
			{
				if (!emailtable.processed[i])
				{
					const processedEmail = {};

					const parser = new PostalMime();
					const email = await parser.parse(emailtable.contents[i]);

					const doc = domParser.parseFromString(email.html, "text/html");

					const textNodes = getTextNodes(doc);
					const nonWhitespace = textNodes.filter(node => node.nodeValue.trim().replace(/\u00a0/g, " ").length != 0);
					//const textInfo = nonWhitespace.map( node => ({ text: node.nodeValue.replace(/^\s*|\s(?=\s)|\s*$/g, ""), parentNodeName: (node.parentNode || { nodeName: null }).nodeName }));
					const textArray = nonWhitespace.map(node => node.nodeValue.replace(/\u00a0/g, " ").replace(/^\s*|\s(?=\s)|\s*$/g, ""));
					processedEmail.id = emailtable.id[i];
					processedEmail.text = textArray.join(" ");
					processedEmail.subject = emailtable.subject[i];
					processedEmail.date = email.date;
					processedEmails.push(processedEmail);

					//console.log(nonWhitespace);
					//console.log(textInfo);
					//console.log(email.subject);
					//for (let i in textInfo)
					//{
					//	const xpath = '//'+textInfo[i].parentNodeName+'[contains(normalize-space(text()), '+quoteXpath(textInfo[i].text)+')]';
					//	textInfo[i].xpath = xpath;
					//	console.log(xpath);
					//	const nodes = getElementsByXpath(doc, xpath);
					//	console.log(nodes.length);
					//}

					//const pathBetween = getPathBetweenNodes(doc, getElementsByXpath(doc, textInfo[19].xpath)[0], getElementsByXpath(doc, textInfo[20].xpath)[0]);
					//console.log("pathBetween");
					//console.log(pathBetween);
					//const finalNode = getElementsByXpath(doc, textInfo[19].xpath + '/' + pathBetween);
					//console.log(finalNode.length);

					//const el = getElementByXpath(doc, xpath);
					//finalNode[0].style.border = "2px solid red";
				}
			}
			//iframeDoc.document.open();
			//iframeDoc.document.write(doc.documentElement.innerHTML);
			//iframeDoc.document.close();

			await updateEmails();
			await matchTransactions();
		};

		return {
			emails,
			accounts,
			categories,
			accountIdToName,
			loadAction,
			importAction,
			errorMessage,
			successMessage,
			updateEmails
		}
	},
	mounted() {
		this.loadAction();
	}
})
    </script>
    <script src="transaction_editor.js"></script>
    <script>
app.component('transaction-editor', TransactionEditor);
app.use(Quasar, { config: {} })
app.mount('#q-app')
	  </script>
  </body>
</html>
